@using MVC.ViewModels
@model EmployeeViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div>
        Hello @Model.UserName
        <hr />
        <div>
            <b>Employee Details</b><br/>
               Employee Name: @Model.EmployeeName<br/>
               <spam style="background-color:@Model.SalaryColor">
                   Employee Salary: @Model.Salary
               </spam>
        </div>
    </div>
</body>
</html>
